input{
    margin:10px;
}

label{
    font-size: large;
}

button{
    text-align: center;
    border-radius: 5px;
    cursor:pointer;
    padding: 5px;
    border:none;
} 

button:hover{
    background-color: rgb(213, 213, 213);
}

.pdfButton{
    cursor:pointer;
}

fieldset{
    margin-bottom: 10px;
    border-color: rgb(110, 75, 60);
}

legend{
    font-size: 18px;
}

.inputBox{
    height:30px;
    border-radius:5px;
    border:none;
}
